.slectDiv{
    border-radius: 10px;
    cursor: pointer;
    padding: 10px;
}

.slectDiv:hover{
    background-color: var(--color-hover);
}


.sidebar-link {
    text-decoration: none;
    color: #fff; /* Adjust to your desired color */
    font-size: 16px;
    font-weight: 500;
    transition: color 0.3s ease;
  }

/* .slectDivContainer::-webkit-scrollbar-thumb:hover {
    background-color: #555;  
} */


