/* Smooth scrolling behavior */
@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html {
  scroll-behavior: smooth;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --background: white;
  --secondary: #e5ebee;
  --teritory:red;
  --color-hover:#eaeced8c;
  --fixed-bg-color: #eaeced8c;
  --text-primary: black;
  --text-secondary: #2525258c;
  --divider: #00000033;
  --accent: royalblue;
  --shadow:#292a2a49;

  background: var(--background);
  color: var(--text-primary);
}

body.dark-theme {
  --background: #121212;
  --secondary: #2a3236;
  --teritory:red;
  --color-hover:#201f1f;
  --fixed-bg-color: #000000;
  --text-primary: #ffffff;
  --text-secondary: #b3b3b3;
  --divider: #ffffff19;
  --accent: royalblue;
  --shadow:#0000009b;

  background: var(--background);
  color: var(--text-primary);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media (max-width: 1200px) {
  .sidebar {
    display: none;
  }
}

body.modal-open {
  overflow: hidden;
}

.primary-bg {
  background-color: var(--background);
}
.secondary-bg {
  background-color: var(--secondary);
}
.accent-bg {
  background-color: var(--accent);
}
.teritory-bg {
  background-color: var(--teritory);
}
.fixed-bg {
  background-color: var(--fixed-bg-color);
}

.border-radius-large{
  border-radius: 30px;
}

.primary-text{
  color: var(--text-primary);
}
.secondary-text{
  color: var(--text-secondary);
}
.accent-text{
  color: var(--accent);
}
.divider-bottom {
  border-bottom: 1px solid var(--divider);
}

.divider-right {
  border-right: 1px solid var(--divider);
}
.divider-top {
  border-top: 1px solid var(--divider);
}
.divider-left {
  border-left: 1px solid var(--divider);
}



.border {
  border: 1px solid var(--divider);
}

.border-none{
  border: none !important;
}

.card{
  background-color: var(--background);
  box-shadow: 1px 8px 8px var(--shadow);
}

.fixed-component{
  position: fixed;
  overflow-y: auto;
  z-index: 0;
}

.sticky-component{
  position: sticky;
  overflow-y: auto;
  z-index: 0;
}

.accent-text-style{
  color: var(--accent);
  font-size: 16px;
  font-weight: 500;
}

.extra-large-text-large-weight{
  margin-left: 3px;
  margin-right: 3px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 25px;
  font-weight: 700;
}

.extra-large-text-extra-large-weight{
  margin-left: 3px;
  margin-right: 3px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 25px;
  font-weight: 800;
}

.extra-large-text-normal-weight{
  margin-left: 3px;
  margin-right: 3px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 25px;
  font-weight: 500;
}

.extra-large-text-small-weight{
  margin-left: 3px;
  margin-right: 3px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 25px;
  font-weight: 400;
}

.large-text-large-weight{
  margin-left: 3px;
  margin-right: 3px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 17px;
  font-weight: 700;
}

.large-text-normal-weight{
  margin-left: 3px;
  margin-right: 3px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 17px;
  font-weight: 500;
}

.large-text-small-weight{
  margin-left: 3px;
  margin-right: 3px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 17px;
  font-weight: 400;
}

.medium-text-large-weight{
  margin-left: 3px;
  margin-right: 3px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 15px;
  font-weight: 700;
}

.medium-text-normal-weight{
  margin-left: 3px;
  margin-right: 3px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 15px;
  font-weight: 500;
}

.medium-text-small-weight{
  margin-left: 3px;
  margin-right: 3px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 15px;
  font-weight: 400;
}

.small-text-large-weight{
  margin-left: 3px;
  margin-right: 3px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 13.5px;
  font-weight: 700;
}

.small-text-small-weight{
  margin-left: 3px;
  margin-right: 3px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 13.5px;
  font-weight: 400;
}

.small-text-normal-weight{
  margin-left: 3px;
  margin-right: 3px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 13.5px;
  font-weight: 500;
}

/* Modal.css */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  z-index: 99999; /* Ensure modal is above other content */
}

.modal-content {
  background: var(--background);
  padding: 20px;
  border-radius: 8px;
  width: 550px;
  height: 85%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.close-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: red;
}

.div-col {
  display: flex;
  flex-direction: column;
}

.div-center {
  display: flex;
  align-items: center;
}

.div-baseline {
  display: flex;
  align-items: baseline;
}

.div-start {
  display: flex;
  align-items: flex-start;
}

.div-center-justify{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.div-justify-center{
  display: flex;
  justify-content: center;
}

.div-justify{
  display: flex;
  justify-content: center;
}

.div-center-justify-center{
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-small-style{
  width: 35px;
  height: 35px;
  object-fit: cover;
  border-radius: 50%;
  display: block;
}

.main-content {
  margin-top: 60px; /* Push the content below the fixed navbar */
  height: 100%;
  background-color: var(--background);
  z-index: 50;
}

/* Custom scrollbar styling for WebKit browsers */
.slectDivContainer::-webkit-scrollbar {
  width: 10px; /* Reserve space for the scrollbar */
}

.slectDivContainer::-webkit-scrollbar-track {
  background: transparent; /* Initially make the track transparent */
}

.slectDivContainer::-webkit-scrollbar-thumb {
  background-color: transparent; /* Hide thumb initially */
}

/* Show scrollbar on hover */
.slectDivContainer:hover::-webkit-scrollbar-thumb {
  background-color: #3c3c3cb0; /* Visible scrollbar color */
  border-radius: 10px;
}
