/* Smooth scrolling behavior */
@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --background: white;
  --secondary: #e5ebee;
  --color-hover:#eaeced8c;
  --fixed-bg-color: #eaeced8c;
  --text-primary: black;
  --text-secondary: #2525258c;
  --divider: #00000033;
  --accent: royalblue;
  --shadow:#292a2a49;

  background: var(--background);
  color: var(--text-primary);
}

body.dark-theme {
  --background: #121212;
  --secondary: #2a3236;
  --color-hover:#201f1f;
  --fixed-bg-color: #000000;
  --text-primary: #ffffff;
  --text-secondary: #b3b3b3;
  --divider: #ffffff19;
  --accent: royalblue;
  --shadow:#0000009b;

  background: var(--background);
  color: var(--text-primary);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media (max-width: 1200px) {
  .sidebar {
    display: none;
  }
}

body.modal-open {
  overflow: hidden;
}

.primary-bg {
  background-color: var(--background);
}
.secondary-bg {
  background-color: var(--secondary);
}
.accent-bg {
  background-color: var(--accent);
}
.fixed-bg {
  background-color: var(--fixed-bg-color);
}

.primary-text{
  color: var(--text-primary);
}
.secondary-text{
  color: var(--text-secondary);
}
.divider-bottom {
  border-bottom: 1px solid var(--divider);
}

.divider-right {
  border-right: 1px solid var(--divider);
}
.divider-top {
  border-top: 1px solid var(--divider);
}
.divider-left {
  border-left: 1px solid var(--divider);
}

.border {
  border: 1px solid var(--divider);
}

.card{
  background-color: var(--background);
  box-shadow: 1px 8px 8px var(--shadow);
}

/* Modal.css */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  z-index: 99999; /* Ensure modal is above other content */
}

.modal-content {
  background: var(--background);
  padding: 20px;
  border-radius: 8px;
  width: 480px;
  height: 80%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.close-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: red;
}

.div-center {
  display: flex;
  align-items: center;
}

.main-content {
  margin-top: 60px; /* Push the content below the fixed navbar */
  height: 100%;
  background-color: var(--background);
  z-index: 100;
}

/* Custom scrollbar styling for WebKit browsers */
.slectDivContainer::-webkit-scrollbar {
  width: 10px; /* Reserve space for the scrollbar */
}

.slectDivContainer::-webkit-scrollbar-track {
  background: transparent; /* Initially make the track transparent */
}

.slectDivContainer::-webkit-scrollbar-thumb {
  background-color: transparent; /* Hide thumb initially */
}

/* Show scrollbar on hover */
.slectDivContainer:hover::-webkit-scrollbar-thumb {
  background-color: #3c3c3cb0; /* Visible scrollbar color */
  border-radius: 10px;
}
