/* Smooth scrolling behavior */
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --background: white;
  --text-primary: black;
  --text-secondary: royalblue;
  --accent: purple;

  background: var(--background);
  color: var(--text-primary);
}

body.dark-theme {
  --background: #121212;
  --text-primary: #ffffff;
  --text-secondary: #b3b3b3;
  --accent: darkred;

  background: var(--background);
  color: var(--text-primary);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* :root {
  --background: white;
  --text-primary: black;
  --text-secondary: royalblue;
  --accent: purple;
}

[data-theme="dark"] {
  --background: #121212;
  --text-primary: #ffffff;
  --text-secondary: #b3b3b3;
  --accent: darkred;
  background: var(--background);
  color: var(--text-primary);
} */

@media (max-width: 1200px) {
  .sidebar {
    display: none;
  }
}

body.modal-open {
  overflow: hidden;
}

/* Modal.css */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  z-index: 99999; /* Ensure modal is above other content */
}

.modal-content {
  background: #212121;
  padding: 20px;
  border-radius: 8px;
  width: 480px;
  height: 80%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.close-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: red;
}

.div-center {
  display: flex;
  align-items: center;
}

.main-content {
  margin-top: 60px; /* Push the content below the fixed navbar */
  height: 100%;
  /* background-color: var(--background); */
}

/* Custom scrollbar styling for WebKit browsers */
.slectDivContainer::-webkit-scrollbar {
  width: 10px; /* Reserve space for the scrollbar */
}

.slectDivContainer::-webkit-scrollbar-track {
  background: transparent; /* Initially make the track transparent */
}

.slectDivContainer::-webkit-scrollbar-thumb {
  background-color: transparent; /* Hide thumb initially */
}

/* Show scrollbar on hover */
.slectDivContainer:hover::-webkit-scrollbar-thumb {
  background-color: #3c3c3cb0; /* Visible scrollbar color */
  border-radius: 10px;
}
